body {
  background-image: url(https://lh3.googleusercontent.com/_voc7KTjRo_iMYgpBRhHUWCf8JZiWlViYqxo3LWt4CgN5l2IDEGM8huZB7teJwO6PyixdBfSf0G_0aitVI_iTjh5TzGI35t8Canc9kkPsPIPH5UpMMcU-g0FBQU-YSrV3PlLnwh9fzrem95GCn2ilVDGHYr-XcYZgN2DfwBdB9LhU7UYz5aZQKAyj7BnsGIusgaYPuHj04xR9UnuCfX7C220s8UlnF5SFxz-wyUHCwE9r0NRea1be8yvVnHyNO84Zxv0LWhmf1bIIoZKovEMuY5dQQnpKVOPkGBLMIaaoFg28iXNYgYBMNZEm6kcQ9S2LKjm4lhjxpG8UnNxcR0y3rYj8jXcmExdq-WEvo7EWxxZYBcKBN2_RE7ZMpnD-tCWmqECdBSXWa3LAP_fY1G1W1GCu_nXOjC2HVOMUKw_Cx7MJRmOwbW7UOlu1NiLhk1GYQzsXzF9NzLIJ35FByUOniboq4EbOnCUlzxDM_-BUheGIOxGe5ta6T1Z85NGxrWDHnWnuHt6_zxC36-QzIecCR7iB9plKDH0df-YZxC_Vj3CwRff_xzwKclPr9R6Xb8U86fBmbm6iy8rcHS9pKiUVDy9-bBQituNb3G39JXtRs5SK5P2xS5jsVFd9EcMQAbpWH04fQJN5VzGNwp3AvaKlSKyCvsBK3PwKXsfLXXsAjCCvgj_5-xqfA=w2380-h1338-no);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
