body {
  background-image: url(https://lh3.googleusercontent.com/Y_-6VQAz0cMS50n7BHSnR_kklGSiPhSmrjCaBiC2bTzoXrioSJp0vUUn8s2j8J4VQqv9LIDMEy-s3my8LxArVczEDrtZ0ltXp2m5UqtKaILPYNFWBswUeAfVJbg5aX-raMD0XZXVRECgVLIS2BDTIwNpV5ziR2OmbXSuKD2J-HlewoJQ2QKtEbis_75hBTAzVkZoFMsL7ADS5mJEWKsn_pCLGnv1lRH0PoOsiKuS-e8FcCrGevEt6Ry-7d4Kpjn3DIoQQv5ib3i38Hm_gFU2tPxnrnFHXV2DcAD4vTN6cT6CYs3-OgWleOBJjYxGIH-zocSkW3pHGWQRJt8gCR8jUe9un-VJrxsLZW0X98rHnfah3cq8xjEnnwRSKWa6yg6hu--pNp1iLKRx2FdL6DnvI8CslacPUxygDaeIxiJmFYcoO0i5-1tSYXJ7-pQqFbTMHbeaFZaSWNn-5sGyfOxJShFa1rkPRtxwmm7aZ4YAVZD0ioxomSAdcP9Jae0B9S-xdHULj2Nd7glnIl8ismwqI0XhmtvC7goV4mxmYGFgn6sNk9A68XSP0G-jYQ-GdatsTjto8A4jzGiRrsfEewsPiHf9gnpCzF5RLgDP_zIfESTRywRSkGH8tuxsGZj5Qx4U610L6G-Wx8zVJ3VOsP_qNIiUcEdJhb0cAaT2FrdKpRN6-iVsRZsgqQ=w2380-h1338-no);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
