body {
  background-image: url(https://lh3.googleusercontent.com/ajmnkwL8qO3e1eWwXcpZ7ALA8MiWZFRclPRaxuHyih-nMQjGMYIu2zijYqQSkvv27autoYCjdIupFUTzA-99mDQxiR4JRULDwsf2OZ399PtF_6AywbMtkeftdETMAPSQWiyP_vEVNLkF1UE97t8KAmDhlJqDkJMLaTDMHP8RZW6m39k7ZWPVnXCIY4D5vpMHx5Yj08o6Bq4mneoSiU2jgvk7vqDHZ2sq97kFHFgqK16aCfZOSi5AED86xNPBjQDEVW32AaKNcgVlGyJefT3HBDWVkBRqn_oZlcoV5pq7Ak2UiQJ7ZnEEmmaNHv77TA2RorKBxS2mzRNGy_xj9o0ABd4VNc0QadNCwpcQKtyR-HIW6QE_yG9xzAMU8NI0HGxWRDBz9es6wCkHOl3hhCexGDz5ydfHcRAZCqb8IDK_8CDXUHfrckT_mWEqjwMvik812vucnQ6A4DOoBdnS2DlgXaGxHgBRJH4G4kYlWlEH2rieLIVK7rptCJUYBxDdsLUtp1LXXqFEcrYTvBKosbbPXCvIGu75mEPBph10NAh6_xRmNK3RRQc5d0WtewfRsyd0vt-VmpnBcgj66svhyifYFbkCYMMKDRjDnGf3ruxZ46NzMy_xKQ1I4HKdCLL_-Dl2HjPYoHPFvj6TXn69xjrX450GdqRnmc1OTSuJx4DgabNTncZfu-qMXw=w2380-h1338-no);
  max-width: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
