body {
  background-image: url(https://lh3.googleusercontent.com/KTqPwBAzB6PZWBu0inIEWkomVcKjOx7Y4gZ-t1RgjDKUtN370Cqxr9blyRnsp-YBS4xPRXxXznDFdOD8MYKE7fXmm81bcOPPgFK04pi-fJ_pgAKLPJgYC1lkJGlhgVTY2fc0i4g84wqQskQ1mQsXT_g-NOHM67ycjpP6y6zq1ViymOLhL83poIirUlxcHmkc85m4h6N_aXCqRymEtQjU-tBr5HsrFobpk47g5Xoq6R8wuTj2hmXPdQ69WQfhx5QNnH9msMPcVWvHQV1_ud7w3s6ewmxZClvDqzwfDGx3CRnWGBMbRy6B9hJ-Cca0apV5PgSTALR-eZ_PLGEX7s_AJXAmGi5Qq_CKvif94QgPvJ5jTivV9Zgliy1HPFsMi5vgn9Z-r739_j8zY21_HHTZsV9EvAxNTQAjrsb-wQlxS1ZlJsIockv1A3CXOfDv2b-ObHhuWI6Ts6d-ZFqniy73okvle4sjG4FR03vx_2XNf6c7K2gVFph8OUsktMegMzxVayagFHfBhoTpeYCwVaiIK0DJI7aTRngcmQp4z8zrKels6p_Y7tUUYvfIEkd-UAHoT_XFGi-VzRSKUZ0dJ0x2vZTegNLSOGdZ4hx1740GGfxifw6nngfXuUUJDwtdCzghUNYEb84MN4CZbj09jsipnmYLKTE1VTXuH9rfZ5rxQULLhBfuOiPjoA=w2380-h1338-no);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
