body {
  max-width: 1000px;
  margin:auto;
  text-align: center;

.red-text{
  color: green;
  font-size:40px;
}

.ins2{
    margin-left:500px;
    margin-right: 800px;
    padding-left: 700px;
}

.red-text{
  color: green;
  font-size:40px;

}
