@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower&display=swap');

body {
  max-width: 1000px;
  margin:auto;
  text-align: center;
}

#one{
  color: purple;
  font-size: 150px;
  padding: 6px;
  float:left;
  margin:5%;
  width:35%;
}

#two{
  color:orange;
  font-size: 150px;
  padding: 6px;
  float:middle;
  margin:5%;
  width:35%;
}

#three{
  color: Green;
  font-size: 150px;
  padding: 6px;
  float:right;
  margin:5%;
  width:35%;
}
