@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower&display=swap');

body {
  max-width: 1000px;
  margin:auto;
  text-align: center;
}
#lulu{position:relative;right:800px;
  position:relative;top:400px;
}

#mengshi{
  position:relative;right:1600px;
    position:relative;top:100px;
}

#chengyuan{
  position:relative;right:1200px;
      position:relative;top:-100px
}

#three{
  color: Green;
  font-size: 150px;
  padding: 6px;
  float:right;
  margin:5%;
  width:35%;
}
