body {<a href="lu_page_two.html"><img src="images/lulu.gif" alt="lulu"></a>
  max-width: 1000px;
  margin:auto;
  text-align: center;

#phone {
  position: fixed;
  left:850px;
  z-index:-1;
}

.red-text{
  color: green;
  font-size:40px;
}
