body {
  background-image: url(https://images.wallpapersden.com/image/download/small-memory_58461_3840x2160.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#handphone{
margin: 5%;
padding:6px;
float:right;
width:25%;
}
