body {
    max-width: 2000px;
    margin:auto;
    background-image: url(https://thumbs.gfycat.com/OldfashionedImpassionedBinturong-size_restricted.gif);
   background-size: cover;
   text-align: center;
}

.h1{
  color:yellow;
  margin: 30px;
}

.h3{
  color:red;
  margin: 80px;
}
.videos{
  padding: 10px;
}
.video1{
  width: 300px;
  height: auto;
  margin-right: 40px;
  margin-bottom: 40px;
  transform: rotate(45deg);
  float: left;
}
.video2{
  width: 250px;
  height: auto;
  transform: skew(15deg);
  float: left;
}
.video3{
  width: 150px;
  height:auto;
  transform: scale(1.2);
  float: right;
}

.image1{
  width: 70px;
  height: auto;
}
.image1:hover{
  background-image: url(/images/9.png);
    width:30px;
    height:30px;
    background-repeat: no-repeat;
    background-size: cover;
  }
.image2{
  margin: 10px;
  width: 60px;
  height: 60px;
}
.image3{
  margin: 10px;
  width: 45px;
  height: 45px;
}
.image4{
  margin: 10px;
  width: 140px;
  height: 150px;
}
.image5{
  margin: 10px;
  width: 75px;
  height: 60px;
}
.image6{
  margin: 10px;
  width: 150px;
  height: 150px;
}
.image7{
  margin: 10px;
  width: 70px;
  height: 70px;
}
.image8{
  margin: 10px;
  width: 45px;
  height: 45px;
}
.image9{
  margin: 10px;
  width: 140px;
  height: 150px;
}
.image9:hover{
  background-image: url(/images/8.png);
    width:100px;
    height:100px;
    background-repeat: no-repeat;
    background-size: cover;
  }
.image10{
  margin: 10px;
  width: 85px;
  height: 70px;
}
.image11{
  margin: 10px;
  width: 150px;
  height: 150px;
}
.image12{
  margin: 10px;
  width: 50px;
  height: 50px;
}
.image13{
  margin: 10px;
  width: 45px;
  height: 45px;
}
.image14{
  margin: 10px;
  width: 140px;
  height: 150px;
}
.image15{
  margin: 10px;
  width: 65px;
  height: 50px;
}
.image16{
  margin: 10px;
  width: 150px;
  height: 150px;
}
.image17{
  margin: 10px;
  width: 80px;
  height: 80px;
}
.image18{
  margin: 10px;
  width: 45px;
  height: 45px;
}
.image19{
  margin: 10px;
  width: 140px;
  height: 150px;
}
.image20{
  margin: 10px;
  width: 75px;
  height: 60px;
}
.image21{
  margin: 10px;
  width: 150px;
  height: 150px;
}
.image22{
  margin: 10px;
  width: 65px;
  height: 50px;
}
.image23{
  margin: 10px;
  width: 120px;
  height: 120px;
}
.image24{
  margin: 10px;
  width: 50px;
  height: 50px;
}
.image25{
  margin: 10px;
  width: 55px;
  height: 45px;
}
.image26{
  margin: 10px;
  width: 140px;
  height: 150px;
}
.image27{
  margin: 10px;
  width: 65px;
  height: 50px;
}
.image28{
  margin: 10px;
  width: 60px;
  height: 50px;
}
.image29{
  margin: 10px;
  width: 65px;
  height: 55px;
}
.image30{
  margin: 10px;
  width: 45px;
  height: 45px;
}
.image31{
  margin: 10px;
  width: 130px;
  height: 150px;
}
.image32{
  margin: 10px;
  width: 65px;
  height: 50px;
}
.image33{
  margin: 10px;
  width: 85px;
  height: 70px;
}
.image34{
  margin: 10px;
  width: 130px;
  height: 120px;
}
.image35{
  margin: 10px;
  width: 85px;
  height: 60px;
}
.image36{
  margin: 10px;
  width: 70px;
  height: 70px;
}
.image37{
  margin: 10px;
  width: 45px;
  height: 55px;
}



.video4{
    width: 230px;
    height: auto;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 40px;
    margin-bottom: 40px;
    transform: rotate(65deg);
    float: left;
  }
.video5{
    width: 350px;
    height: auto;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    transform: skew(15deg);
    float: right;
  }
.video6{
    width: 250px;
    height:auto;
    transform: scale(1.5);
    float: center;
  }
.video7{
    width: 320px;
    height: auto;
    margin-right: 40px;
    margin-bottom: 40px;
    transform: rotate(55deg);
    float: left;
  }
.video8{
    width: 300px;
    height: auto;
    transform: skew(45deg);
    float: right;
  }
.video9{
    width: 250px;
    height:auto;
    transform: rotate(65deg);
    float: left;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 40px;
    margin-bottom: 40px;
  }






  .video10{
      width: 330px;
      height: auto;
      margin-left: 100px;
      margin-top: 100px;
      margin-right: 40px;
      margin-bottom: 40px;
      transform: rotate(65deg);
      float: left;
    }
  .video11{
      width: 350px;
      height: auto;
      margin-left: 40px;
      margin-top: 40px;
      margin-right: 40px;
      margin-bottom: 40px;
      transform: skew(15deg);
      float: right;
    }
  .video12{
      width: 350px;
      height:auto;
      transform: scale(1.5);
      float: center;
    }
  .video13{
      width: 320px;
      height: auto;
      margin-right: 40px;
      margin-bottom: 40px;
      transform: rotate(55deg);
      float: left;
    }

    .video14{
        width: 150px;
        height:auto;
        transform: scale(1.5);
        float: center;
      }
    .video15{
        width: 220px;
        height: auto;
        margin-right: 40px;
        margin-bottom: 40px;
        transform: rotate(55deg);
        float: left;
      }
.video16{
        width: 300px;
        height: auto;
        transform: skew(45deg);
        float: right;
      }
.video17{
        width: 400px;
        height:auto;
        transform: rotate(65deg);
        float: left;
        margin-left: 100px;
        margin-top: 100px;
        margin-right: 40px;
        margin-bottom: 40px;
      }
  .video18{
          width: 350px;
          height:auto;
          transform: rotate(45deg);
          float: left;
          margin-left: 100px;
          margin-top: 100px;
          margin-right: 40px;
          margin-bottom: 40px;
        }




  .comment{
    width:80px;
    height: 80px;
  }
  .like{
    width:80px;
    height: 80px;
}
  .repost{
    width:80px;
    height: 80px;
  }

  .xiaoxin{
    width: 100px;
    height: auto;
  }
